@import "tailwindcss";
@import "tailwindcss-animated";
:root {
  font-family: "system-ui", Avenir, "Helvetica Neue", sans-serif;
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: white;
}

@theme {
  --color-gold: #8a7c56;
  --font-sans: "Poppins", system-ui, sans-serif;
}

body {
  @apply font-sans antialiased;
    /* overflow-y: scroll; */
}

.home-page {
  .swiper-pagination-bullet {
    width: 32px;
    height: 12px;
    border-radius: 3px;
    background-color: #ccc;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .swiper-pagination-bullet-active {
    background-color: #8a7c56;
    width: 32px;
  }
  .swiper-pagination {
    display: flex;
    gap: 8px;
    text-align: left;
    margin-left: 5px;
    justify-content: start;
  }
}
.pemesanan {
  .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .swiper-pagination-bullet-active {
    background-color: #8a7c56;
  }
  .thumbs-swiper .swiper-slide-thumb-active img {
    opacity: 1;
  }
  .thumbs-swiper img:hover {
    opacity: 1;
  }
}
/* .pemesanan .swiper-button-next,
.pemesanan .swiper-button-prev {
  background-color: white;   
  width: 40px;
  height: 40px;
  border-radius: 50%;        
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 15); 
  color: #8a7c56;            
      
  transition: background-color 0.3s ease;
}

.pemesanan .swiper-button-next:hover,
.pemesanan .swiper-button-prev:hover {
  background-color: #f0f0f0;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
